[general]
quiet_mode = False
archive_enabled = True

[camera]
host = 192.168.20.21
port = 554
user = ced
password = Gougou0016
path = /Streaming/Channels/101

[camera.roi]
x1 = 0
y1 = 0
x2 = 1920
y2 = 1080

[paths]
snap_path = /tmp/picture.jpg
cropped_path = /tmp/cropped.jpg
archive_dir = plaques.d

[relay]
host = 192.168.20.26
url_open = /30000/07
url_close = /30000/06
pulse_duration = 1

[gate_camera]
host = 192.168.20.22
port = 82
user = admin
password = prouT$$$
snapshot_path = /ISAPI/Streaming/channels/101/picture

[gate_detector]
ref_day_path = refs/ref_close_day.jpg
ref_night_path = refs/ref_close_night.jpg
threshold = 35.0
enabled = True
reopen_check_interval = 180

[polling]
poll_interval = 2
cooldown_after_detection = 75
relay_ping_interval = 1800

[plates]
AB123CD = 1
1234AB56 = 1
